RewriteEngine On

# Verificações de segurança e loop
RewriteCond %{ENV:REDIRECT_STATUS} ^$

# Se o arquivo .php existe, faça a reescrita interna
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]

# Proteção básica de diretórios
Options -Indexes
