# Bloqueia a execução e o acesso a qualquer script ou pagina web
<FilesMatch "(?i)\.(php|php[3-8]|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    Require all denied
</FilesMatch>

# Impede que o Apache liste os arquivos da pasta
Options -Indexes
