<IfModule mod_headers.c>
    Header always unset Cross-Origin-Opener-Policy
    Header always unset Cross-Origin-Embedder-Policy
    Header always set Cross-Origin-Resource-Policy "cross-origin"
    Header always set Access-Control-Allow-Origin "*"
</IfModule>

<FilesMatch "\.(php|php[34578]|phtml|pl|py|cgi)$">
    Require all denied
</FilesMatch>
Options -ExecCGI -Indexes
